* {
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  background-image: linear-gradient(to bottom, #a7eea3bf, #f5f556, #1beed5);
}
main {
  margin: 0px 30px;
  padding: 0;
}
h1 {
  /* position: relative;
     */
  display: flex;
  justify-content: center;
}
h2 {
  font-size: medium;
  display: flex;
  justify-content: center;
}
#hed {
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 2px green;
  position: sticky;
  top: 0px;
  background-color: #0aa002bf;
  z-index: 1;
}
nav {
  width: 99%;
  height: 60px;
  border-radius: 5px;
  display: flex;
  text-align: center;
  position: relative;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}
nav label,
a {
  width: 100%;
  height: 100%;
  line-height: 60px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 5px;
  margin: 0 5px;
  color: #000000;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: all 0.3s ease;
}
nav label:hover {
  background: #034b032b;
}
nav label i {
  margin-right: 4px;
}
nav .slider {
  position: absolute;
  height: 100%;
  width: 20%;
  background: #034b03;
  left: 0;
  top: 0;
  border-radius: 5px;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 1;
}
#home:checked ~ nav label.home,
#blog:checked ~ nav label.blog,
#code:checked ~ nav label.code,
#help:checked ~ nav label.help,
#about:checked ~ nav label.about {
  color: #fff;
}
#blog:checked ~ nav .slider {
  left: 20%;
}
#code:checked ~ nav .slider {
  left: 40%;
}
#help:checked ~ nav .slider {
  left: 60%;
}
#about:checked ~ nav .slider {
  left: 80%;
}
input[type="radio"] {
  display: none;
}
label a {
  text-decoration: none;
}
footer {
  background-color: #0aa002bf;
  display: flex;
  justify-content: center;
  text-align: center;
}
footer p {
  text-shadow: 2px 2px 10px rgb(0, 255, 200);
}
.input {
  padding: 15px;
  border-radius: 1rem;
  width: 400px;
  background: #6def4c;
  border: 3px solid #7af95b;
  transition: 0.3s;
  margin-bottom: 10px;
}
.input:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow:
    inset 20px 20px 60px #c5c5c5,
    inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}
.bt {
  background: #8de756;
  color: #094e02;
  border-radius: 20%;
  border: 3px solid rgb(29, 204, 29);
  padding: 15px;
}
.bt:hover {
  box-shadow: 2px 2px 2px 2px rgb(0, 128, 0);
}
.bt:active {
  background: #094e02;
  color: #8de756;
}
iframe {
  margin: 0px 60px;
  width: 90%;
  height: 600px;
}
p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: justify;
}
#tbb td {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  border: 1px solid #59ff74;
  background-color: #59ff74;
  margin: 5px;
  padding: 5px;
}
#tbb th {
  border: 1px solid #41ce59;
  background-color: #41ce59;
  margin: 5px;
  padding: 5px;
}
table {
  text-align: justify;
}
